.input-warper{
  margin: 15px;
}
.input-field{
  width: 200px;
  height: 30px;
}
.button{
  width: 200px;
  height: 30px;
}
.button:hover{
  cursor: pointer;
}
.container{
  text-align: center;
}
.toggle{
  color: blue;
  text-decoration: underline;
}
.toggle:hover{
  cursor: pointer;
}